// Define variables for your color scheme

// For example:
$blue: #167FFB;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$cyan: #2DB529;
$pink: #EF8BAB;
$red: #D95415;
$yellow: #FAB900;
$green: #0A5D4E;
$blue: #003C63;
$yellow-fade: rgba(250, 185, 0, 0.5);
$red-fade: rgba(217, 84, 21,0.5);
$blue-fade: rgba(0, 60, 99,0.5);
$blue-hover: rgba(22, 127, 251,0.9);
$green-fade: rgba(10,93,78,0.5);
$green-hover: rgba(10,93,78,0.9);
$green-superfade: rgba(10,93,78,0.3);
$gray-fade: rgba(14, 0, 0, 0.3);
$yellow-superfade: rgba(250, 185, 0, 0.05);
