.employers-info {
  padding-top: 100px;
  h2 {
    font-weight: lighter;
  }
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.service {
  width: 100%;
  height: 100%;
  color: white;
  padding: 40px 40px;
  h2 {
    margin-bottom: 30px;
  }
}
.service-svg {
  height: 5vh;
  margin-bottom: 30px;
}
.p20 {
  padding: 10px;
}
.pt20 {
  padding-top: 10px;
}
