.project-carousel-holder {
  width: 100vw;
  overflow: hidden;
  height: 260px;
  display: flex;
  position: relative;
}
.project-carousel {
  display: flex;
  width: 100%;
  height: 260px;
  transition: 0.5s;
  position: absolute;
  left: 0;

}
.project-card {
  width: 100vw;
  height: 260px;
  flex-shrink: 0;
  @media only screen and (min-width: 700px) {
    width: 50vw;
  }
  @media only screen and (min-width: 960px) {
    width: 33.333vw;
  }
}
.project-1 {
  z-index: 1;
}
.project-2 {
  z-index: 0;
}












.services-container-home {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  @media only screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media only screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.partners-and-accreditations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  h3 {
    font-weight: lighter;
  }
  p {
    color: #494949;
  }
}
.partners-and-accreditations-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pa-image-one {
  height: 60px;
  margin: 10px 0;
}

.pa-image-two {
  margin: 10px 0;
  height: 70px;
}

.pa-image-three {
  height: 50px;
  margin: 10px 0 10px 20px;
}

.pa-image-four {
  height: 60px;
  margin: 10px 0 10px 20px;
}

.pa-image-five {
  height: 50px;
  margin: 10px 0 35px 20px;
}

.pa-image-six {
  height: 15px;
  margin: 10px 0 10px 20px;
}

.pa-image-seven {
  height: 50px;
  margin: 0px 20px 20px 20px;
}
