// Specific CSS for your home-page
body {
  max-width: 1440px;
  margin: 0 auto;
}

.min-height {
  min-height: calc(100vh - 410px);
}
.flex-cent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.bluee {
  text-align: center;
  color: $blue !important;
  margin-left: 0px;
}
.bluee.active {
  color: white !important;
}
.tab-content {
  flex: 1 0 auto;
}

.tab-pane {
  height: 100%;
  min-height: 50vh;
}
.ml-30 {
  margin-left: 30px;
}
.pl-15 {
  padding-left: 15px;
}
.partners-and-accreditations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  h3 {
    color: #3A71A7;
    font-weight: lighter;
  }
  p {
    color: #494949;
  }
}
.partners-and-accreditations-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pa-image-one {
  height: 60px;
  margin: 10px 0;
}

.pa-image-two {
  margin: 10px 0;
  height: 70px;
}

.pa-image-three {
  height: 50px;
  margin: 10px 0 10px 20px;
}

.pa-image-four {
  height: 60px;
  margin: 10px 0 10px 20px;
}

.pa-image-five {
  height: 50px;
  margin: 10px 0 35px 20px;
}

.pa-image-six {
  height: 15px;
  margin: 10px 0 10px 20px;
}

.pa-image-seven {
  height: 50px;
  margin: 0px 20px 20px 20px;
}

//

.latest-courses-container, .employer-container, .testimonial-container {
  padding: 60px 0;
}

.new_course_card {
  width: 100%;
}

.courses-card {
  background: linear-gradient(#BBFFFF, #56BDBD);
  height: 200px;
  padding: 16px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    color: #FFF;
    margin-top: 12px;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.testimonial {
  height: 300px;
  width: 100%;
  @include for-small-devices-up {
    width: 50%;
  }
  background: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    @include for-phone-only {
      font-size: 20px;
    }
  }
}

.flex-btwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  font-size: 20px;
  padding: 10px;
}
