<div class="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(<%= asset_path(url) %>); background-size: cover; background-position: center;">
  <div class="banner-text">
    <h1 class="text-center white"><strong><%= title %></strong></h1>
    <h5 class="text-center white fwnorm"><%= details %></h5>
    <% if sub %>
      <p class="text-center white fwnorm top-b"><%= sub %></p>
    <% end %>
  </div>
</div>
