<div class="top-banner" style="background-image: url(<%= asset_path('home.png') %>); background-size: cover; background-position: center;">
  <div class="banner-text">
    <h1 class="text-center white"><strong><%= title %></strong></h1>
    <h5 class="text-center white fwnorm"><%= details %></h5>
  </div>
</div>
