<div class="project-card" style="background: linear-gradient(rgba(0,0,20,0.1), rgba(0,0,20,0.3)), url('https://images.pexels.com/photos/3662585/pexels-photo-3662585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center / cover">
  <div class="project-categories">
    <p>icons go here</p>
  </div>
  <div class="project-details">
    <h5 class="project-title"><%= project.name %></h5>
    <p class="project-description"><%= project.location %> | <%= project.services.map { |p| p.title }.split(',').join(' | ') %></p>
  </div>
</div>
