<div class="project-photo" data-toggle="modal" data-target="#modal<%= photo.id %>" style="background-image: url(<%= url_for photo %>)"></div>
<!-- Modal -->
<div class="modal fade " id="modal<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog photo-modal" role="document">
    <div class="modal-content position-relative">
      <%= image_tag photo, alt: "alttext", class: "modal-photo" %>
      <button type="button" class="close absolute-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
