<div class="projects-grid mt5">
  <% @projects.each do |project| %>
    <%= link_to admin_project_path(project), class: "project-card-link" do  %>
      <%= render "shared/project_card", project: project %>
    <% end %>
  <% end %>
</div>
