<%#= render "shared/lcar",
  elements: @projects,
  element_height: @element_height,
  sm_count:  @sm_count,
  md_count: @md_count,
  lg_count: @lg_count,
  xl_count: @xl_count,
  ms_per_scroll: @ms_per_scroll
%>


<div class="your-class">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<script>
  $(document).ready(function(){
    $('.your-class').slick({
      setting-name: setting-value
    });
  });
</script>
