<h2><%= @project.name %></h2>

<%= simple_format @project.content %>

<%= link_to @project.published ? 'Unpublish' : 'Publish' , publish_admin_project_path(@project), method: :patch %>

<%= render "shared/project" %>
