<%= render "shared/banner", title: "Welcome to Seven Consulting", details: "Building Simulation, Energy and Sustainability" %>

<h3 class="text-center xl-margin-top dark-blue">Our Services</h3>
<p class="text-center grey">We offer a range of sustainability services, from energy statements to daylight assessments, using approved software and fully accredited consultants.</p>

<div class="services-holder">
  <div class="service-card"></div>
  <div class="service-card"></div>
  <div class="service-card"></div>
  <div class="service-card"></div>
  <div class="service-card"></div>
  <div class="service-card"></div>
</div>





<%= render 'shared/partners_and_accreditations' %>
