<%= render "shared/banner", title: "SERVICES", details: "Building Simulation, Energy and Sustainability" %>
<div class="seven-container">
  <%= render "shared/services", admin: false %>

  <%= render 'shared/partners_and_accreditations' %>

</div>
