<%= render "shared/banner", title: "Services", details: "We offer a range of services for your project from concept design through to building completion and sign off. Ours suite of services ensure you achieve your sustainability ratings, comfort criteria and energy targets", sub: false, url: "serv-bg.webp" %>
<div class="seven-container">
  <%= render "shared/services", admin: false %>

  <%= render 'shared/partners_and_accreditations' %>

</div>
