<%= render "shared/banner", title: "Services", details: "Building Simulation, Energy and Sustainability", sub: false, url: "serv-bg.webp" %>
<div class="seven-container">
  <%= render "shared/services", admin: false %>

  <%= render 'shared/partners_and_accreditations' %>

</div>
