<%= render "shared/banner", title: "Projects", details: "We are an established, innovative energy and sustainability consultancy that provide a full suite of modelling and compliance solutions across all sectors of the property and construction industry.", sub: nil %>
<div class="seven-container">
  <div class="projects-grid mt5" style="max-width: 1220px; margin: 10vh auto;">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "project-card-link" do  %>
        <%= render "shared/project_card", project: project %>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/partners_and_accreditations' %>

</div>
