.project-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 32px 5vw 32px 5vw;
  padding-bottom: 80px;
  border-bottom: 1px solid #e3e3e3;
  @media only screen and (min-width: 700px) {
    flex-direction: row;
  }
}

.flex-break {
  flex-basis: 100%;
  height: 0;
  order: 2;
  @media only screen and (min-width: 700px) {
    display: none;
  }
}
.mid-lpad {
  @include for-small-devices-down {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.project-facts {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  order: 3;
  @media only screen and (min-width: 700px) {
    width: 50%;
  }
  @media only screen and (min-width: 1280px) {
    order: 1;
    width: 25%;
  }
}

.project-fact {
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-description {
  width: 100%;
  padding: 16px 32px;
  order: 1;
  @media only screen and (min-width: 1280px) {
    order: 3;
    width: 50%;
  }
}

.project-services {
  width: 100%;
  padding: 16px;
  order: 4;
  @media only screen and (min-width: 700px) {
    width: 50%;
  }
  @media only screen and (min-width: 1280px) {
    width: 25%;
  }
}
html {
  scroll-behaviour: smooth;
}
.project-service {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 88px;
  img {
    height: 24px;
  }
  @media only screen and (min-width: 1280px) {
    width: 280px;
  }
}

.project-photos {
  display: flex;
  margin: 10vh 15px 13vh 15px;
  justify-content: space-between;
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.project-photo {
  height: 285px;
  width: 285px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  @include for-small-devices-down {
    margin: 0 auto;
  }
}

.photo-modal {
  max-width: 1000px !important;
}

.modal-photo {
  width: 100%;
  // object-fit: cover;
  // object-position: center;
}

.absolute-close {
  position: absolute;
  top: 8px;
  right: 16px;
}
.project-card-title {
  font-size: 1.15rem;
  margin-bottom: 0;
}
.project-card-description {
  font-size: 0.8rem;
  margin-bottom: 0;
}
