.seven-button {
  display: block;
  min-width: 160px;
  padding: 12px 0;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  transition: background 0.2s ease;
  color: #FFF;
  border: none;
  cursor: pointer;
  p {
    color: #FFF;
    font-weight: lighter;
  }
  &:hover {
    color: #FFF;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2)
  }

}

.p40 {
  padding: 40px;
  text-align: center;
}
.primary {
  background: #E69BB4;
  &:hover {
    background: #EC7AA0;
  }
}

.secondary {
  background: #F3C349;
  &:hover {
    background: #F1B61F;
  }
}

.devise-button {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  margin: 0 auto;
  background: #56BDBD;
  &:hover {
    background: #42ADAD;
  }
};
