// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
.element {
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  width: 100%;
  @media (min-width: 768px) {
    width: 33.33333%;
  }
}
.element:hover {
  opacity: 1;
  color: white;
}
.lcar {
  width: 100%;
  display: flex;
  overflow: auto;
}
.lcar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.lcar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
