.navbar-lewagon {
  justify-content: space-between;
  background: #387E87;
  min-height: 80px;
  position: relative;
  z-index: 5;
  align-items: flex-start;
  padding-top: 18px;
}

#navbarSupportedContent {
  background: #387E87;
  @include for-phone-only {
    position: relative;
    top: 8px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.seven-logo {
  width: 120px;
}

.nav-link {
  font-weight: bold;
  margin-left: 20px;
  font-size: 14px;
}
