.project-card {
  flex-shrink: 0;
  height: 260px;
  display:flex;
  position: relative;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
}
.project-card:before {
  content: "";
  width: 100%;
  background: #2db5b9;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.project-card:hover:before {
  opacity:0.5;
}

.project-card-categories {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
}

.project-card-details {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.mt5 {
  margin-top: 40px;
}
